{% include "base.html" %}

<Div style=" max-width: 80rem; margin: auto; margin-bottom: 5vh; background-color: rgb(65, 43, 43); color: antiquewhite; box-shadow: 0 20px 30px 0 rgba(1, 24, 24, 0.3);
    padding: 10px;
    border: inherit;
    border-radius: 5px;" class="heading">
  <h3 style="padding-top: 3vh; padding-bottom: 3vh; text-align: center; font-family: monospace;" > Question / Answers <a class="btn btn-primary" href="/all-questions"> All questions</a></h3> 
</Div>

<div style="width: 100%;
            text-align: center;
            max-width: 70rem;
            margin: auto;
            margin-top: 20px;
            box-shadow: 0 20px 30px 0 rgba(6, 7, 7, 0.3);" class="history">
  <h3 style="text-align: center; font-family: monospace; font-weight: bolder;"><u>Question</u></h3>
  <b>Title:</b>
  {{questions.title}}
  <br>
  <b>Content:</b>
  {{questions.content}}
  <br>
  <b>Posted at:</b>
  {{questions.date_create}}
  <br><br>  
</div>
<br><br>
<div style="width: 100%;text-align: center;
            max-width: 70rem;
            margin: auto;
            margin-top: 20px;
            box-shadow: 0 20px 30px 0 rgba(6, 7, 7, 0.3);" class="history">
<h3 style="text-align: center; font-family: monospace; font-weight: bolder;"><u>Answers</u></h3><br>
{% for i in answers %}
    {{i.content}} 
    <br> <b>by ~ {{i.name}} - {{i.email}}</b> 
    <hr><br>
{% endfor %}
</div>
<br>
<br>

<div style="width: 100%;
    height: auto;
    max-width: 70rem;
    margin: auto; border: 3px solid rgb(29, 25, 25); border-radius: 15px;
box-shadow: 0 20px 30px 0 rgba(23, 121, 121, 0.3);">
<h1 style="text-align: center; font-family: monospace; font-weight: bolder;"><u>Give Answer</u></h1>
<form style="padding: 15px 15px 15px 15px;" action= "/detail/{{questions.id}}" method="post">
    <div class="form-group">
    <label for="exampleInputPassword1">Content</label>
    <input type="text" class="form-control" name="content" required="true">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="text" class="form-control" name="email" required="true">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Name</label>
    <input type="text" class="form-control" name="name" required="true">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<br><br><br>