{%include "base.html" %}

<Div style=" max-width: 80rem; margin: auto; margin-bottom: 5vh; background-color: rgb(65, 43, 43); color: antiquewhite; box-shadow: 0 20px 30px 0 rgba(1, 24, 24, 0.3);
    padding: 10px;
    border: inherit;
    border-radius: 5px;" class="heading">

  <h3 style=" text-align: center; font-family: monospace;" > E-learning/library</h3>
</Div>



<div class="row justify-content-between">

  <div  style="width: 100%;
            max-width: 50rem;
            margin: auto;
            margin-top: 20px;
            box-shadow: 0 20px 30px 0 rgba(6, 7, 7, 0.3);" >
    <div class="card" >
        <div style="text-align: center;" class="card-body">
        <h2><b><u>Upto class 12</u></b></h2><hr>
        <h4 style="color: rgb(83, 80, 80);">Go to Diksha Portal to find books of cbse/ncert and state board. </h4>
				<hr><a href="https://diksha.gov.in/explore" target="_blank">
        <h3 class="card-title">Visit Now</h3>
				</a>
        </div>
    </div>
  </div>

    <div  style="width: 100%;
            max-width: 50rem;
            margin: auto;
            margin-top: 20px;
            box-shadow: 0 20px 30px 0 rgba(6, 7, 7, 0.3);">
    <div class="card">
      <div style="text-align: center;" class="card-body">
        <h2><b><u>Find journal, books, authors</u></b></h2><hr>
        <h4 style="color: rgb(83, 80, 80);">messenger bot to find books, author, and articles. </h4>
				<hr><a href="https://www.messenger.com/t/331142894457173" target="_blank">
        <h3 class="card-title">Explore</h3>
				</a>
        </div>
    </div>
    </div>
  </div>
</div>