<div style="width: 100%;text-align: center;
            max-width: 70rem;
            margin: auto;
            margin-top: 20px;
            box-shadow: 0 20px 30px 0 rgba(6, 7, 7, 0.3);" class="history"><br>
Number of question posted: {{question_count}} <br>
Number of Answer Count: {{answer_count}} <br>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<canvas id="pie-chart" width="400" height="100"></canvas>
<br><br>
</div>

<script>
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["Question Count", "Answer Count"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#3e95cd", "#8e5ea2"],
        data: [{{question_count}}, {{answer_count}}]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Progress Report'
      }
    }
});
</script>


<div style="width: 100%;text-align: center;
            max-width: 70rem;
            margin: auto;
            margin-top: 20px;
            box-shadow: 0 20px 30px 0 rgba(6, 7, 7, 0.3);" class="history"><br>
Number of attended class: {{attended_class}} <br>
Number of missed class: {{missed_class}} <br>
Number of total class: {{total_classes}}<br>

<canvas id="pie-chart1" width="400" height="100"></canvas>
<br><br>
</div>

<script>
new Chart(document.getElementById("pie-chart1"), {
    type: 'pie',
    data: {
      labels: ["Attended Classes", "Missed classes"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["green", "red"],
        data: [{{attended_class}}, {{missed_class}}]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Attendance Report'
      }
    }
});
</script>