{% include "base.html" %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
<a href="/explore"> Explore </a>
<a href="/logout"> logout </a>
{% else %}
<Div style=" max-width: 80rem; margin: auto; margin-bottom: 5vh; background-color: rgb(65, 43, 43); color: antiquewhite; box-shadow: 0 20px 30px 0 rgba(1, 24, 24, 0.3);
    padding: 10px;
    border: inherit;
    border-radius: 5px;" class="heading">
  <h3 style="padding-top: 3vh; padding-bottom: 3vh; text-align: center; font-family: monospace;" > Register </h3>
</Div>
<div style="width: 100%;
    height: auto;
    max-width: 70rem;
    margin: auto; border: 3px solid rgb(29, 25, 25); border-radius: 15px;
box-shadow: 0 20px 30px 0 rgba(23, 121, 121, 0.3);">
<form style="padding: 15px 15px 15px 15px;" action="/student-register" method="POST">
<div class="form-group">
      <label for="exampleInputPassword1">Email ID</label>
      <input type="username" class="form-control"name="email" placeholder="Email" required="true">
    </div>
<div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" required="true">
    </div>
<button type="submit" value="Sign up" class="btn btn-primary">Submit</button>
</form>
</div>
{% endif %}